---
---

@import "{{ site.theme }}";

.footer-heading {
  display: none;
}

.cc-math {
  text-align: center;
  margin: 0.25em 0 0.75em;
  box-sizing: border-box;
}

.cc-math math {
  display: inline;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 100%;
  font-size-adjust: none;
  text-indent: 0;
  text-align: left;
  text-transform: none;
  letter-spacing: normal;
  word-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  float: none;
  direction: ltr;
  max-width: none;
  max-height: none;
  min-width: 0;
  min-height: 0;
  border: 0;
  padding: 0;
  margin: 0;
}

mtable {
  text-align: inherit;
}
